.notfound-button {
  margin-bottom: 24px;
  background-color: #262627;
  border: none;
  border-radius: 4px;
  color: #fcfaf8;
  padding: 12px 24px;
  transition: all 0.2s linear;
  &:hover {
    background-color: #444;
  }
}
